* {
  padding: 0px;
  margin: 0px;
  font-family: Assistant, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#nav {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 15px;
}
#canvas {
  cursor: crosshair;
}
.ToolIcon__icon {
  display: flex;
  border: none;
  width: 1.2rem;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  padding: 3px 0px;
  transition: box-shadow 0.5s ease-in-out;
}
.ToolIcon__icon svg {
  width: 1.25rem;
}
#pencil {
  border: none;
}
.active {
  background-color: #eae9ff;
  color: black;
}

.btn {
  display: flex;
  border: none;
  padding: 4px 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.5s ease-in-out;
}
.btn,
.btn2 {
  font-size: 16px !important;
}
.btn:hover {
  background-color: #eae9ff;
  border-radius: 4px;
}
.menu {
  background-color: #ececf3;
}
.center {
  width: max-content;
  display: flex;
  gap: 0.4rem;
  border-radius: 8px;
  border: 1px solid rgb(183, 183, 183);
  align-items: center;
  padding: 1px 2px;
  box-shadow: 1px 5px 10px #e1e1e1;
}
.center > * {
  padding: 1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.tooltext {
  font-size: 10px;
  color: gray;
  align-self: flex-end;
}
.line {
  padding: 0;
  height: 20px;
  border: 1px solid #f1f0ff;
}

.btn1 {
  border: none;
  padding: 4px 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ececf4;
  transition: box-shadow 0.5s ease-in-out;
}
.btn1:hover {
  background-color: #eae9ff;
}
/*.btn2 {
  border: none;
  padding: 8px 7px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6965db;
  transition: box-shadow 0.5s ease-in-out;
}
.btn2:hover {
  background-color: #5955c7;
}*/
.btn3 {
  border: none;
  padding: 4px 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: box-shadow 0.5s ease-in-out;
}
.btn4 {
  border: none;
  padding: 4px 5px;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
}
.btn4:hover {
  background-color: #eae9ff;
  border-radius: 4px;
}
.btn5 {
  border: none;
  padding: 4px 5px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #6965db;
}

#nav > .center {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 6px 4px;
  border: 1px solid #e8e8e8;
}
.right1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1cm;
}
.live-collab-btn {
  background-color: #6965db;
  color: white;
  padding: 0.525rem;
  display: flex;

  width: 2.25rem;
  height: 2.25rem;
  border-radius: 8px;
  border: none;
}
.live-collab-btn:hover {
  background-color: #5955c7;
}

.right2 {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.7rem;
  gap: 0.2rem;
  background-color: #ededed;
  border-radius: 6px;
}
.right2:hover {
  background-color: #e0dfff;
}
.right2 p {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
#bottom {
  display: flex;
  position: absolute;
  z-index: 5;
  left: 20px;
  bottom: 20px;
  gap: 1rem;
}
.bottom1 {
  display: flex;
  border-radius: 10px;
  background-color: #ececf4;
}
.bottom1 button {
  border: none;
  cursor: pointer;
}
.reset-zoom-button {
  border-left: 0 !important;
  border-right: 0 !important;
  padding: 0 0.625rem !important;
  width: 3.75rem !important;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.bottom2 {
  display: flex;
  border-radius: 10px;
  background-color: #ececf4;
}
.bottom2 button {
  border: none;
  cursor: pointer;
}
.bottom3 {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 4;
  right: 30px;
  bottom: 20px;
  gap: 1rem;

  border-radius: 5px;
}
.bottom3 button {
  border: none;
  cursor: pointer;
}
