:root {
  --excalidrawcom-192-0x-108-0defaultblack: rgba(0, 0, 0, 1);
  --excalidrawcom1920x1080defaulttrue-v: rgba(105, 101, 219, 1);
  --excalidrawcom-192-0x-108-0defaultpaua: rgba(25, 0, 100, 1);
  --excalidrawcom-192-0x-108-0defaultsilver: rgba(184, 184, 184, 1);
  --excalidrawcom1920x1080defaultdusty-gray: rgba(153, 153, 153, 1);
  --excalidrawcom1920x1080defaultmine-shaft: rgba(61, 61, 61, 1);
  --excalidrawcom1920x1080defaultnero-96: rgba(255, 255, 255, 0.96);
  --excalidrawcom-192-0x-108-0defaultalto: rgba(214, 214, 214, 1);
  --excalidrawcom-192-0x-108-0defaultnero: rgba(255, 255, 255, 1);
  --excalidrawcom1920x1080defaulttitan-white: rgba(227, 226, 254, 1);
  --excalidrawcom-192-0x-108-0defaultindigo: rgba(91, 87, 209, 1);
  --excalidrawcom-192-0x-108-0defaultboulder: rgba(122, 122, 122, 1);
  --excalidrawcom-153-6x-694400024414062-5defaultblack: rgba(0, 0, 0, 1);
  --excalidrawcom1536x6944000244140625defaulttrue-v: rgba(105, 101, 219, 1);
  --excalidrawcom-153-6x-694400024414062-5defaultpaua: rgba(25, 0, 100, 1);
  --excalidrawcom-153-6x-694400024414062-5defaultsilver: rgba(184, 184, 184, 1);
  --excalidrawcom1536x6944000244140625defaultdusty-gray: rgba(153, 153, 153, 1);
  --excalidrawcom1536x6944000244140625defaultmine-shaft: rgba(61, 61, 61, 1);
  --excalidrawcom1536x6944000244140625defaultnero-96: rgba(255, 255, 255, 0.96);
  --excalidrawcom-153-6x-694400024414062-5defaultalto: rgba(214, 214, 214, 1);
  --excalidrawcom-153-6x-694400024414062-5defaultnero: rgba(255, 255, 255, 1);
  --excalidrawcom1536x6944000244140625defaulttitan-white: rgba(227, 226, 254, 1);
  --excalidrawcom-153-6x-694400024414062-5defaultindigo: rgba(91, 87, 209, 1);
  --excalidrawcom-153-6x-694400024414062-5defaultboulder: rgba(122, 122, 122, 1);
  --excalidrawcomblack: rgba(0, 0, 0, 1);
  --excalidrawcomtrue-v: rgba(105, 101, 219, 1);
  --excalidrawcompaua: rgba(25, 0, 100, 1);
  --excalidrawcomsilver: rgba(184, 184, 184, 1);
  --excalidrawcomdusty-gray: rgba(153, 153, 153, 1);
  --excalidrawcommine-shaft: rgba(61, 61, 61, 1);
  --excalidrawcomnero-96: rgba(255, 255, 255, 0.96);
  --excalidrawcomalto: rgba(214, 214, 214, 1);
  --excalidrawcomnero: rgba(255, 255, 255, 1);
  --excalidrawcomtitan-white: rgba(227, 226, 254, 1);
  --excalidrawcomindigo: rgba(91, 87, 209, 1);
  --excalidrawcomboulder: rgba(122, 122, 122, 1);
  --excalidraw-com-1920x1080-default-inter-bold-29-25-font-family: "Inter-Bold", Helvetica;
  --excalidraw-com-1920x1080-default-inter-bold-29-25-font-weight: 700;
  --excalidraw-com-1920x1080-default-inter-bold-29-25-font-size: 29.25px;
  --excalidraw-com-1920x1080-default-inter-bold-29-25-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-bold-29-25-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-bold-29-25-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-18-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-18-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-18-font-size: 18px;
  --excalidraw-com-1920x1080-default-inter-regular-18-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-18-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-18-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-13-56-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-13-56-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-13-56-font-size: 13.5625px;
  --excalidraw-com-1920x1080-default-inter-regular-13-56-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-13-56-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-13-56-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-11-25-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-11-25-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-11-25-font-size: 11.25px;
  --excalidraw-com-1920x1080-default-inter-regular-11-25-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-11-25-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-11-25-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-13-34-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-13-34-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-13-34-font-size: 13.34375px;
  --excalidraw-com-1920x1080-default-inter-regular-13-34-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-13-34-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-13-34-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-12-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-12-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-12-font-size: 12px;
  --excalidraw-com-1920x1080-default-inter-regular-12-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-12-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-12-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-13-13-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-13-13-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-13-13-font-size: 13.125px;
  --excalidraw-com-1920x1080-default-inter-regular-13-13-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-13-13-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-13-13-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-16-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-16-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-16-font-size: 16px;
  --excalidraw-com-1920x1080-default-inter-regular-16-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-16-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-16-font-style: normal;
  --excalidraw-com-1920x1080-default-inter-regular-14-25-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-inter-regular-14-25-font-weight: 400;
  --excalidraw-com-1920x1080-default-inter-regular-14-25-font-size: 14.25px;
  --excalidraw-com-1920x1080-default-inter-regular-14-25-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-inter-regular-14-25-line-height: normal;
  --excalidraw-com-1920x1080-default-inter-regular-14-25-font-style: normal;
  --excalidraw-com-1920x1080-default-assistant-regular-14-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-assistant-regular-14-font-weight: 400;
  --excalidraw-com-1920x1080-default-assistant-regular-14-font-size: 14px;
  --excalidraw-com-1920x1080-default-assistant-regular-14-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-assistant-regular-14-line-height: normal;
  --excalidraw-com-1920x1080-default-assistant-regular-14-font-style: normal;
  --excalidraw-com-1920x1080-default-assistant-bold-24-font-family: "Assistant-Bold", Helvetica;
  --excalidraw-com-1920x1080-default-assistant-bold-24-font-weight: 700;
  --excalidraw-com-1920x1080-default-assistant-bold-24-font-size: 24px;
  --excalidraw-com-1920x1080-default-assistant-bold-24-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-assistant-bold-24-line-height: normal;
  --excalidraw-com-1920x1080-default-assistant-bold-24-font-style: normal;
  --excalidraw-com-1920x1080-default-assistant-regular-12-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-assistant-regular-12-font-weight: 400;
  --excalidraw-com-1920x1080-default-assistant-regular-12-font-size: 12px;
  --excalidraw-com-1920x1080-default-assistant-regular-12-letter-spacing: 0.4000000059604645px;
  --excalidraw-com-1920x1080-default-assistant-regular-12-line-height: 0px;
  --excalidraw-com-1920x1080-default-assistant-regular-12-font-style: normal;
  --excalidraw-com-1920x1080-default-assistant-regular-10-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-1920x1080-default-assistant-regular-10-font-weight: 400;
  --excalidraw-com-1920x1080-default-assistant-regular-10-font-size: 10px;
  --excalidraw-com-1920x1080-default-assistant-regular-10-letter-spacing: 0px;
  --excalidraw-com-1920x1080-default-assistant-regular-10-line-height: normal;
  --excalidraw-com-1920x1080-default-assistant-regular-10-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-bold-29-25-font-family: "Inter-Bold", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-bold-29-25-font-weight: 700;
  --excalidraw-com-1536x694-4000244140625-default-inter-bold-29-25-font-size: 29.25px;
  --excalidraw-com-1536x694-4000244140625-default-inter-bold-29-25-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-bold-29-25-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-bold-29-25-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-18-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-18-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-18-font-size: 18px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-18-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-18-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-18-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-56-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-56-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-56-font-size: 13.5625px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-56-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-56-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-56-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-11-25-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-11-25-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-11-25-font-size: 11.25px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-11-25-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-11-25-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-11-25-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-34-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-34-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-34-font-size: 13.34375px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-34-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-34-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-34-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-12-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-12-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-12-font-size: 12px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-12-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-12-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-12-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-13-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-13-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-13-font-size: 13.125px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-13-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-13-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-13-13-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-16-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-16-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-16-font-size: 16px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-16-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-16-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-16-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-14-25-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-14-25-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-14-25-font-size: 14.25px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-14-25-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-14-25-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-inter-regular-14-25-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-14-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-14-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-14-font-size: 14px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-14-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-14-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-14-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-assistant-bold-24-font-family: "Assistant-Bold", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-assistant-bold-24-font-weight: 700;
  --excalidraw-com-1536x694-4000244140625-default-assistant-bold-24-font-size: 24px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-bold-24-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-bold-24-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-assistant-bold-24-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-12-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-12-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-12-font-size: 12px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-12-letter-spacing: 0.4000000059604645px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-12-line-height: 0px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-12-font-style: normal;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-10-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-10-font-weight: 400;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-10-font-size: 10px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-10-letter-spacing: 0px;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-10-line-height: normal;
  --excalidraw-com-1536x694-4000244140625-default-assistant-regular-10-font-style: normal;
  --excalidraw-com-inter-bold-29-25-font-family: "Inter-Bold", Helvetica;
  --excalidraw-com-inter-bold-29-25-font-weight: 700;
  --excalidraw-com-inter-bold-29-25-font-size: 29.25px;
  --excalidraw-com-inter-bold-29-25-letter-spacing: 0px;
  --excalidraw-com-inter-bold-29-25-line-height: normal;
  --excalidraw-com-inter-bold-29-25-font-style: normal;
  --excalidraw-com-inter-regular-18-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-18-font-weight: 400;
  --excalidraw-com-inter-regular-18-font-size: 18px;
  --excalidraw-com-inter-regular-18-letter-spacing: 0px;
  --excalidraw-com-inter-regular-18-line-height: normal;
  --excalidraw-com-inter-regular-18-font-style: normal;
  --excalidraw-com-inter-regular-13-56-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-13-56-font-weight: 400;
  --excalidraw-com-inter-regular-13-56-font-size: 13.5625px;
  --excalidraw-com-inter-regular-13-56-letter-spacing: 0px;
  --excalidraw-com-inter-regular-13-56-line-height: normal;
  --excalidraw-com-inter-regular-13-56-font-style: normal;
  --excalidraw-com-inter-regular-11-25-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-11-25-font-weight: 400;
  --excalidraw-com-inter-regular-11-25-font-size: 11.25px;
  --excalidraw-com-inter-regular-11-25-letter-spacing: 0px;
  --excalidraw-com-inter-regular-11-25-line-height: normal;
  --excalidraw-com-inter-regular-11-25-font-style: normal;
  --excalidraw-com-inter-regular-13-34-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-13-34-font-weight: 400;
  --excalidraw-com-inter-regular-13-34-font-size: 13.34375px;
  --excalidraw-com-inter-regular-13-34-letter-spacing: 0px;
  --excalidraw-com-inter-regular-13-34-line-height: normal;
  --excalidraw-com-inter-regular-13-34-font-style: normal;
  --excalidraw-com-inter-regular-12-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-12-font-weight: 400;
  --excalidraw-com-inter-regular-12-font-size: 12px;
  --excalidraw-com-inter-regular-12-letter-spacing: 0px;
  --excalidraw-com-inter-regular-12-line-height: normal;
  --excalidraw-com-inter-regular-12-font-style: normal;
  --excalidraw-com-inter-regular-13-13-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-13-13-font-weight: 400;
  --excalidraw-com-inter-regular-13-13-font-size: 13.125px;
  --excalidraw-com-inter-regular-13-13-letter-spacing: 0px;
  --excalidraw-com-inter-regular-13-13-line-height: normal;
  --excalidraw-com-inter-regular-13-13-font-style: normal;
  --excalidraw-com-inter-regular-16-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-16-font-weight: 400;
  --excalidraw-com-inter-regular-16-font-size: 16px;
  --excalidraw-com-inter-regular-16-letter-spacing: 0px;
  --excalidraw-com-inter-regular-16-line-height: normal;
  --excalidraw-com-inter-regular-16-font-style: normal;
  --excalidraw-com-inter-regular-14-25-font-family: "Inter-Regular", Helvetica;
  --excalidraw-com-inter-regular-14-25-font-weight: 400;
  --excalidraw-com-inter-regular-14-25-font-size: 14.25px;
  --excalidraw-com-inter-regular-14-25-letter-spacing: 0px;
  --excalidraw-com-inter-regular-14-25-line-height: normal;
  --excalidraw-com-inter-regular-14-25-font-style: normal;
  --excalidraw-com-assistant-regular-14-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-assistant-regular-14-font-weight: 400;
  --excalidraw-com-assistant-regular-14-font-size: 14px;
  --excalidraw-com-assistant-regular-14-letter-spacing: 0px;
  --excalidraw-com-assistant-regular-14-line-height: normal;
  --excalidraw-com-assistant-regular-14-font-style: normal;
  --excalidraw-com-assistant-bold-24-font-family: "Assistant-Bold", Helvetica;
  --excalidraw-com-assistant-bold-24-font-weight: 700;
  --excalidraw-com-assistant-bold-24-font-size: 24px;
  --excalidraw-com-assistant-bold-24-letter-spacing: 0px;
  --excalidraw-com-assistant-bold-24-line-height: normal;
  --excalidraw-com-assistant-bold-24-font-style: normal;
  --excalidraw-com-assistant-regular-12-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-assistant-regular-12-font-weight: 400;
  --excalidraw-com-assistant-regular-12-font-size: 12px;
  --excalidraw-com-assistant-regular-12-letter-spacing: 0.4000000059604645px;
  --excalidraw-com-assistant-regular-12-line-height: 0px;
  --excalidraw-com-assistant-regular-12-font-style: normal;
  --excalidraw-com-assistant-regular-10-font-family: "Assistant-Regular", Helvetica;
  --excalidraw-com-assistant-regular-10-font-weight: 400;
  --excalidraw-com-assistant-regular-10-font-size: 10px;
  --excalidraw-com-assistant-regular-10-letter-spacing: 0px;
  --excalidraw-com-assistant-regular-10-line-height: normal;
  --excalidraw-com-assistant-regular-10-font-style: normal;
}
